
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=cf17e38ee788ef41ecd6980013e34d7d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress